modules = ["nodejs-20", "web", "php-8.2"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Pizzaria Server"

[[workflows.workflow]]
name = "Pizzaria Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
APP_ENV = "development"
DB_TYPE = "sqlite"
PIZZARIA_NOME = "Pizzaria São Paulo"
PIZZARIA_CIDADE = "Guarapari"
PIZZARIA_UF = "ES"
